layout {
    tab name="dev" focus=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane name="code" command="nu" focus=true borderless=true
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    pane_template name="cmd" command="./cmd.nu"
}
keybinds {
    shared {
        bind "Ctrl Alt Shift g" { NewPane "Down"; }
        bind "Ctrl Super Shift g" { NewPane "Right"; }

        bind "Ctrl Super Shift b" { Run "nu" "cmd.nu" "coding-assistant" "claude"; }
    }
}
